.about-page {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner.about-banner {
    height: 223px;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto 43px auto;
    padding: 0;
    border-radius: 25px;
    
    .banner-overlay {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
    }
  }

  .collapse-container {
    width: 80%;
    max-width: 1024px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .about-page {
    padding: 0 20px;

    .banner.about-banner {
      height: 111px;
      margin: 0 0 22px 0;
      border-radius: 10px;

      .banner-overlay {
        border-radius: 10px;
      }
    }

    .collapse-container {
      width: 100%;
      margin-top: 0;
    }
  }
}