.collapse {
  width: 100%;
  margin-bottom: 20px;

  &-header {
    background: $primary-color;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &-icon {
    transition: transform 0.3s ease;
  }

  &.open {
    .collapse-header {
      border-radius: 5px 5px 0 0;
    }
    
    .collapse-icon {
      transform: rotate(180deg);
    }
  }

  &-content {
    display: none;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    color: #000000;
  }

  &.open {
    .collapse-content {
      display: block;
    }
  }
}