.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1240px;
    margin: 0 auto;
  
    img {
      height: 50px;
    }
  
    nav a {
      margin-left: 20px;
      color: #ff6060;
      text-decoration: none;
    }
  }